$main-black: #272727;
$main-blue: #7fb8f0;
$main-green: #7dd7c3;

$gray1: #4f4f4f;
$gray2: #828282;
$gray3: #bdbdbd;
$gray4: #e0e0e0;
$gray5: #ffffff;

$system-red: #f57f53;
$system-green: #6dc985;
$system-yellow: #f1d172;

$additional-blue: #bddeff;
$additional-green: #b0dfd5;

$bp-largest: 75em; // 1200px
$bp-large: 65.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 40.5em; // 600px;

//@import "src/constants/colors"
