@import "src/constants/colors";

@font-face {
  font-family: "DidactGothic";
  src: local("DidactGothic"),
    url(../../../assets/fonts/DidactGothic-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"),
    url(../../../assets/fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
    url(../../../assets/fonts/Inter-SemiBold.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter-Regular";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-largest) {
    font-size: 40%;
  }
}

img {
  object-fit: cover;
}

.layout {
  max-width: 131.2rem;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style-type: none;
}

button {
  outline: none;
}
